body {
  font-family: Arial, sans-serif;
  background-color: #fffffe;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #094067;
  color: #fffffe;
}

.headline {
  color: #094067;
}

.paragraph {
  color: #5f6c7b;
}

.button {
  background-color: #3da9fc;
  color: #fffffe;
}

table {
  background-color: #fffffe;
  border: 1px solid #094067;
}

table thead {
  background-color: #90b4ce;
}

table td, table th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  padding: 20px 0;
  color: #094067;
}

p {
  text-align: left;
  line-height: 1.5;
  padding: 30px 30px;
}

button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

nav {
  background-color: #094067;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  padding: 10px 20px;
  color: #fffffe;
  text-decoration: none;
}

nav li a:hover {
  background-color: #3da9fc;
}
